@media screen and (min-width: 980px) {

	.padding { padding:10px; }
	.margin-vertical { margin-top:10px; margin-bottom:10px; }
	.no-margin-left { margin-left:0px; }
	/*.hide {display:none !important;}*/

	body {padding:50px 0 0;}

	.navbar.navbar-fixed-top .brand {
		padding-right: 0;
		padding-left: 0;
		margin-left: 20px;
		float: right;
		font-weight: normal;
		color: #f89406;
		text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
		text-transform:lowercase;
	}
}
@media screen and (max-width: 979px) {
	.navbar .brand { float:none; }
	h5.padding { padding:10px 0; }
}

#terminal { width:100%; height:50%;  font-family:monospace; color:#ddd; background-color:#003; font-weight:bold; }

.tree-address { width:300px; }
.tree-control.loading .tree-address {background-image:url(img/load.gif); background-repeat:no-repeat; background-position:98% 50%; }

.address-bar {position:relative; z-index:5; width:370px; float:left; }
#main-tree {margin-top:4px; padding:0 10px 5px;}
#tree-browser { position:relative;
	.tree-sel { /*height:280px; width:100%;*/ top:6px; box-shadow:0 10px 50px rgba(0, 0, 0, 0.1), inset 0 1px 5px #DDD; position:absolute; border-radius:0 0 4px 4px; }
	&.loading .tree-sel {  background-image:url(img/load-bar.gif); background-repeat:no-repeat; background-position:50% 50%; 
		* { visibility:hidden; }
	}
	.tree-item a { text-overflow:ellipsis; overflow:hidden; white-space:nowrap; width:100%; }
	.nomoreused-tree-item.focused a { border-width:1px 0; border-style:solid; border-color: rgba(255,255,255,0.3); padding:2px 15px; box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #f89406; background-color:#f89406; }
}
/*.tab-content { overflow:initial; }*/

/* STYLES FOR DATA DETAILS */
#details { padding-top:30px; }

ul.key-value {
	li.item-key-value {margin-bottom:4px; list-style:none; clear:both;
		.item-key { margin-left:0px; }
		.item-value { margin:0 5px 10px 0; box-sizing:border-box;}
		input.key { margin-right:4px; margin-left:-4px; }
	}
}

#add-permission, #set-owner {
	.chzn-container { vertical-align:middle; margin-right:20px; }
}


form.delete-permission { float:right; }

/* STYLES FOR THINGS IN MODALS */
.modal-content-sep-top { margin-top:10px; border-top:1px solid #eee; padding-top:10px; }
.modal-content-sep-bottom { margin-bottom:10px; border-bottom:1px solid #eee; padding-bottom:10px; }

.tree-sel { margin-left:0px; overflow:auto; padding:0px; 
	.tree-sel-wrapper {}
	.sel-column {float:left; width:150px; max-height:260px; overflow:auto; border-right:1px solid #ddd; padding:10px 0px; }
	.sel-column:nth-child(even) { background-color:rgba(255,255,255,0.4); }
/*	.sel-column:last-child { border-right:0px; }*/
}

#admin-move .control-group.copy { clear:both; margin:0px;
	input { float:left; }
	label { padding-left:20px; line-height:20px;}
}
