.hero-unit
	%h1 Salamander PHP framework
	%p RAD PHP Development with operations available on a data tree
	%p
		%a.btn.btn-warning.btn-large{:href=>"https://github.com/numtel/salamander"}
			View Project on GitHub
%h2 Why Use This Framework?
%ul.why
	%li
		%h3 Build applications faster with a different development paradigm
		%p Fit your data's into the tree then build views without having to worry about controller code.
	%li
		%h3 For all skill levels
		%p Easy module integration welcomes new developers and creates a place for experienced developers to show off.
	%li
		%h3 Ready for distributions
		%p This GPL'd code is very basic in its current state and stands to be modified for more featureful distributions following this model.
%h2 What's In This Documentation?
