%input{:type=>"hidden",:name=>"action",:value=>"record_group/delete"}
%input{:type=>"hidden",:name=>"fields[table]",:value=>"#{$node->user_user->table}"}
%input.groupId{:type=>"hidden",:name=>"fields[group]",:value=>""}
Are you sure you wish to delete this user group?
