%input{:type=>"hidden",:name=>"action",:value=>"user_user/signup"}
.span2 User Name
%input.username.span3{:type=>"text",:name=>"fields[name]"}
.span2 Password
%input.password.span3{:type=>"password",:name=>"fields[pw]"}
