%input{:type=>"hidden",:name=>"action",:value=>"user_user/change_pw"}
%input.userId{:type=>"hidden",:name=>"fields[id]",:value=>""}
.span2 New Password
%input.password.span3{:type=>"password",:name=>"fields[pw]"}
