%input{:type=>"hidden",:name=>"action",:value=>"user_user/rename"}
%input.userId{:type=>"hidden",:name=>"fields[id]",:value=>""}
.span2 New Name
%input.username.span3{:type=>"text",:name=>"fields[name]"}
