!!! 5
%html
	%head
		%meta{:charset=>'utf-8'}
		%meta{:name=>'viewport', :content=>'width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=0'}
		%title=isset($overwriteTitle) ? $pageTitle : $siteTitle
		%script
			var appPath="#{$tr}",appDir="#{$appDir}";
		=$headerHTML
	%body
		#header
			.body
				%a.logo{:href=>"#{$tr}"}=$siteTitle
				-if($dataConfig['node:roles']['i'])
					%a.btn{:href=>"javascript:nodeTools.itemInsert('#{$dataPath}');"} Insert Post/Category
		#main
			.body
				=$content
