!!! 5
%html
	%head
		%meta{:charset=>'utf-8'}
		%title=isset($overwriteTitle) ? $pageTitle : $siteTitle
		%script
			var appPath="#{$tr}",appDir="#{$appDir}";
		=$headerHTML
	%body
		#header
			.body
				.controls
					-if($dataConfig['node:roles']['i'])
						%a.btn{:href=>"javascript:nodeTools.itemInsert('#{$dataPath}');"} Insert Post/Category
				%a.logo{:href=>"#{$tr}"}=$siteTitle
		#main
			.body
				=$content
